.layui-table-select-div{
    margin:0;
    background-color: #b8ffaf;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    border: 1px solid #d2d2d2;
    overflow-y: auto;
    max-height: 290px;
    padding: 5px 0;
}

.layui-table-select-dd{
    padding: 0 10px;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.layui-table-select-div dd:hover {
    background-color: #44aedb;
    -webkit-transition: .5s all;
    transition: .5s all;
}

.layui-table-select-edge{
    position: absolute;
    right: 3px;
    top: 50%;
    margin-top: -15px;
    cursor: pointer;
    border-width: 6px;
    border-top-color: #c2c2c2;
    border-top-style: solid;
    -webkit-transition: all .3s;
    border-style: dashed;
    border-color: transparent;
}

.layui-table-select-input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 14px 1px;
    border-radius: 0;
    box-shadow: 1px 1px 20px rgba(0,0,0,.15)
}

.layui-table-select-input:focus{
    border-color: #5FB878!important;
}